In [1]:
import pandas as pd

In [2]:
companies = pd.read_csv('companies.csv')
print(companies)

       Company            Department  #Men  #Women
0        Avamm              Training    63      82
1      Youfeed                 Legal    75      62
2        Mydeo             Marketing    63      66
3     Topdrive    Product Management    77      66
4         Lajo             Marketing    77      96
5      Rhycero                 Sales    68      92
6      Flipbug              Services    69      70
7        Aimbo           Engineering    85      87
8         Oozz  Business Development    96      55
9      Myworks              Training    80      92
10     Skippad                 Legal    78      69
11    Skipfire                 Sales    68      62
12       Mydeo              Services    53      92
13       Kamba                 Legal    61      61
14       Quinu            Accounting    74      87
15      Roombo  Business Development    88      67
16       InnoZ  Business Development    65      93
17        Oozz  Business Development    51      79
18  Fivebridge            Accounting    94      68
19      Meevee  Business Development    76      96

In [4]:
companies['#Men'].sum()

1461

In [6]:
companies['#Women'].mean()

77.1